---
title: ZET Evacuation Tool - Downloads
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Praxis</h1>

    <p>Diese Seite beschreibt die Ergebnisse im Paper <a href="http://www.sciencedirect.com/science/article/pii/S1877705810004881">On the Use of Network Flow Techniques for Assigning Evacuees to Exits</a>, das zur <b>First International Conference on Evacuation Modeling and Management (ICEM '09)</b> gesendet worden ist und stellt die Dateien zum Download bereit.</p>

    <h2>Ergebnisse</h2>
    <p>Die folgenden Szenarien wurden im Paper besprochen. Die Screenshots vergleichen die Ansätze und zeigen die Situation nach der jeweils gleichen Zeit.</p>
  </div>
</div>


  <div class="jumbotron highlight">
    <div class="container">
      <h3>Ein einfaches Beispiel</h3>

      <div class="row">
        <div class="col-md-8">
          <p>Es ist leicht zu erkennen, dass nach 15 Sekunden die bei Verwendung der Kürzeste-Wege-Strategie deutlich mehr Personen vor dem engen Ausgang auf der rechten Seite stehen und dadurch die Evakuierungszeit erhöhen. Die anderen Ansätze liefern bessere Resultate.</p>
        </div>
        <div class="col-md-4">      
          <img src="image/content/icem09/exit-assignments-experiments-introduction-results.svg" width="100%"/>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-md-3">
          <img src="image/content/icem09/introduction_sp.png" alt="Shortest Paths" title="Shortest Paths" width="100%"><br>
          <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/introduction-sp.avi">Video abspielen</a></span>
        </div>
        <div class="col-md-3">
          <img src="image/content/icem09/introduction_mcf.png" alt="Min Cost Flow" title="Min Cost Flow" width="100%">
          <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/introduction-mcf.avi">Video abspielen</a></span>
        </div>
        <div class="col-md-3">
          <img src="image/content/icem09/introduction_eat.png" alt="Earliest Arrival Transshipment" title="Earliest Arrival Transshipment" width="100%">
          <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/introduction-eat.avi">Video abspielen</a></span>
        </div>
        <div class="col-md-3">
          <img src="image/content/icem09/introduction_brd.png" alt="Best Response Dynamics" title="Best Response Dynamics" width="100%">
          <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/introduction-brd.avi">Video abspielen</a></span>
        </div>
      </div>
    </div>
</div>



<div class="jumbotron">
  <div class="container">
    <h3>Ein schlechtes Beispiel für Minkosten-Flüsse 1: weit entfernte Ausgänge</h3>
    <div class="row">
      <div class="col-md-8">
        <p>Es ist nicht notwendig, dass Personen den linken Ausgang für die Evakuierung benutzen, da die ganze Breite des Korridors als Ausgang genutzt werden kann. In diesem Fall ist es wirklich die beste Idee, den kürzesten Weg, der genau dem Earliest Arrival Fluss entspricht, zu benutzen. Der Minkosten-Fluss bezieht die Distanz zum Ausgang nicht in die Berechnung ein und sendet somit die Hälfte der zu evakuierenden zum linken Ausgang. Diese Personen kommen später an, als diejenigen auf der rechten Seite für die Evakuierung benötigen.</p>
        
        <p>Auch der Best-Response-Ansatz sendet einige Personen zum linken Ausgang und kommt somit nicht zur optimalen Lösung, es werden aber deutlich weniger Personen zum linken Ausgang geschickt.</p>
      </div>
      <div class="col-md-4">      
        <img src="image/content/icem09/exit-assignments-experiments-introduction-results.png" width="100%"/>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-md-3">
        <img src="image/content/icem09/ffa_sp.png" alt="Shortest Paths" title="Shortest Paths" width="100%">
        <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/ffa-sp.avi">Video abspielen</a></span>
      </div>
      <div class="col-md-3">
        <img src="image/content/icem09/ffa_mcf.png" alt="Min Cost Flow" title="Min Cost Flow" width="100%">
        <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/ffa-mcf.avi">Video abspielen</a></span>
      </div>
      <div class="col-md-3">
        <img src="image/content/icem09/ffa_eat.png" alt="Earliest Arrival Transshipment" title="Earliest Arrival Transshipment" width="100%">
        <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/ffa-eat.avi">Video abspielen</a></span>
      </div>
      <div class="col-md-3">
        <img src="image/content/icem09/ffa_brd.png" alt="Best Response Dynamics" title="Best Response Dynamics" width="100%">
        <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/ffa-brd.avi">Video abspielen</a></span>
      </div>
    </div>
  </div>
</div>


  
<div class="jumbotron highlight">
  <div class="container">
    <h3>Ein schlechtes Beispiel für Minkosten-Flüsse 2: geteilte Engpässe</h3>
    <div class="col-md-12">
      <p>In diesem Szenario ist es schlecht, kürzeste Wege zu wählen, da die Kapazität der Ausgänge auf der linken Seite nur ein Drittel der Kapazität der rechten seite umfasst. Da der Engpass nicht selbst der Ausgang ist, aber eine davor liegende enge Stelle, sendet der Minkosten-Fluss zu viele Personen zu den beiden Ausgängen auf der linken Seite. </p>
      
      <p>Der Earliest-Arrival-Fluss erkennt die Engstelle und sendet deutlich weniger Personen zum rechten Ausgang und erreicht somit eine deutlich geringere Entfluchtungszeit.</p>
    </div>

    <div class="col-md-3">
      <img src="image/content/icem09/sb_sp.png" alt="Shortest Paths" title="Shortest Paths" width="100%">
      <span class="small"><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/sb-sp.avi">Download Video</a></span>
    </div>
    <div class="col-md-3">
      <img src="image/content/icem09/sb_mcf.png" alt="Min Cost Flow" title="Min Cost Flow" width="100%">
      <span class="small"><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/sb-mcf.avi">Download Video</a></span>
    </div>
    <div class="col-md-3">
      <img src="image/content/icem09/sb_eat.png" alt="Earliest Arrival Transshipment" title="Earliest Arrival Transshipment" width="100%">
      <span class="small"><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/sb-eat.avi">Download Video</a></span>
    </div>
    <div class="col-md-3">
      <img src="image/content/icem09/sb_brd.png" alt="Best Response Dynamics" title="Best Response Dynamics" width="100%">
      <span class="small"><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/sb-brd.avi">Download Video</a></span>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h3>Ein schlechtes Beispiel für Earliest-Arrival-Flüsse: enge kürzeste Wege</h3>
    <div class="row top-buffer">
      <div class="col-md-7">
        <p>Unter der Annahme, dass zu Evakuierende, die den Ausgang, den sie benutzen sollen, zugewiesen bekommen, immer kürzeste Pfade verwenden, liefert ein Earliest-Arrival-Fluss schlechte Ergebnisse. In diesem Fall sollten viele Personen um ein Hindernis laufen, aber die meisten bleiben vor dem Hindernis stehen und warten, bis es frei wird.</p>
        
        <p>In diesem speziellen Beispiel ist der Unterschied nicht sehr groß, aber es zeigt, dass der Minkosten-Fluss mehr Personen zum rechten Ausgang schickt.</p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">      
        <img src="image/content/icem09/exit-assignments-experiments-pillar-results.svg" width="100%"/>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-md-3">
        <img src="image/content/icem09/pillar_sp.png" alt="Shortest Paths" title="Shortest Paths" width="100%">
        <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/pillar-sp.avi">Video abspielen</a></span>
      </div>
      <div class="col-md-3">
        <img src="image/content/icem09/pillar_mcf.png" alt="Min Cost Flow" title="Min Cost Flow" width="100%">
        <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/pillar-mcf.avi">Video abspielen</a></span>
      </div>
      <div class="col-md-3">
        <img src="image/content/icem09/pillar_eat.png" alt="Earliest Arrival Transshipment" title="Earliest Arrival Transshipment" width="100%">
        <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/pillar-eat.avi">Video abspielen</a></span>
      </div>
      <div class="col-md-3">
        <img src="image/content/icem09/pillar_brd.png" alt="Best Response Dynamics" title="Best Response Dynamics" width="100%">
        <span class="small"><a href="http://www.coga.tu-berlin.de/fileadmin/i26/Bilder_Webseite/AG_DiskAlg/FG_KombOptGraphAlg/projects/zet/icem09/videos/pillar-brd.avi">Video abspielen</a></span>
      </div>
    </div>
  </div>
</div>
    

<div class="jumbotron">
  <div class="container">
    <h2>Downloads</h2>
    
    <h3>Artikel</h3>
    <table class="table table-striped">  
      <tr><th>On the Use of Network Flow Techniques for Assigning Evacuees to Exits</th><th></th></tr>
      <tr><td><a href="http://www.redaktion.tu-berlin.de/fileadmin/i26/download/AG_DiskAlg/FG_KombOptGraphAlg/paper/2010/DresslerGrossKappmeier_2010.pdf" class="download">Artikel</a> <td>pdf, 1,04 MiB</td></td></tr>
      <tr><td><a href="http://www.coga.tu-berlin.de/fileadmin/i26/download/AG_DiskAlg/FG_KombOptGraphAlg/kappmeier/talks/ICEM_2009_Kappmeier.pdf" class="download">Vortragsfolien</a><td>pdf, 1,00 MiB</td></td></tr>
    </table>

    
    <h3>Instanzen</h3>
    
    <h3>Videos</h3>
    
    <div class="col-md-12">
      <p>Die Videos zu den im Paper angeführten Beispielen, die alle verfolgten Ansätze zeigen. Die Videos haben eine Auflösung von 1280x800 (16:10) und sind im DivX 5-Format codiert. Der Dateityp ist avi.</p>
      <table class="table table-striped">  
        <tr><th>Einfaches Beispiel </th><th></th></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/introduction-sp.avi" class="download">Kürzeste Wege</a><td>avi, 18,6 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/introduction-mcf.avi" class="download">Min-Cost-Fluss</a><td>avi, 14,9 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/introduction-eat.avi" class="download">Earliest-Arrival-Fluss</a><td>avi, 14,8 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/introduction-brd.avi" class="download">Best-Response-Dynamics</a><td>avi, 14,2 MiB</td></td></tr>

        <tr><td></td><td>&nbsp;</td></tr>

        <tr><th>Ein schlechtes Beispiel für Min-Kosten-Flüsse 1: weit entfernte Ausgänge</th><th></th></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/ffa-sp.avi" class="download">Kürzeste Wege</a><td>avi, 12,1 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/ffa-mcf.avi" class="download">Min-Cost-Fluss</a><td>avi, 16,5 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/ffa-eat.avi" class="download">Earliest-Arrival-Fluss</a><td>avi, 12,3 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/ffa-brd.avi" class="download">Best-Response-Dynamics</a><td>avi, 13,2 MiB</td></td></tr>

        <tr><td></td><td>&nbsp;</td></tr>

        <tr><th>Ein schlechtes Beispiel für Min-Kosten-Flüsse 2: gemeinsame Engpässe</th><th></th></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/sb-sp.avi" class="download">Kürzeste Wege</a><td>avi, 27,7 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/sb-mcf.avi" class="download">Min-Cost-Fluss</a><td>avi, 25,9 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/sb-eat.avi" class="download">Earliest-Arrival-Fluss</a><td>avi, 21,5 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/sb-brd.avi" class="download">Best-Response-Dynamics</a><td>avi, 25,8 MiB</td></td></tr>

        <tr><td></td><td>&nbsp;</td></tr>

        <tr><th>Ein schlechtes Beispiel für Earliest-Arrival-Flüsse: enge kürzeste Wege</th><th></th></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/pillar-sp.avi" class="download">Kürzeste Wege</a><td>avi, 18,9 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/introduction-mcf.avi" class="download">Min-Cost-Fluss</a><td>avi, 14,9 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/pillar-eat.avi" class="download">Earliest-Arrival-Fluss</a><td>avi, 19,0 MiB</td></td></tr>

        <tr><td><a href="ftp://ftp.math.tu-berlin.de/pub/combi/kappmeie/zet/icem09/pillar-brd.avi" class="download">Best-Response-Dynamics</a><td>avi, 17,6 MiB</td></td></tr>
      </table>
    </div>
  </div>
</div>
      