---
title: ZET Evacuation Tool
---
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div>
        <h1 style="float:left">ZET Evakuierungstool</h1>
        <img src="image/logo-complete.png" style="float:right" width="30%"/>
        <div style="clear: both;padding-bottom:40px"></div>
      </div>

      <p>Das Softwaretool ZET, das als freie Software unter der <a href="#">GPL</a> lizensiert ist, ermöglicht es, Evakuierungsszenarios zu modellieren, simulieren und zu optimieren. Dabei können mehrgeschossige Gebäude modelliert, Menschen verteilt und (Not)Ausgänge zugewiesen werden.</p>

  <p>Ein berechneter Earliest-Arrival-Fluss führt die Menschen zu den besten Ausgängen (im Sinne einer möglichst schnellen Evakuierung des Gebäudes). Da die Berechnung mittels dynamischer Flüsse einige idealistische Annahmen macht, kann auch eine Simulation durchgeführt werden. Eine fortgeschrittene Visualisierung und eine Statistik runden das Paket ab und erlauben die Analyse der Daten.</p>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
  </div>
  </div>

  <div class="jumbotron" style="background-color:#006795">
    <div class="container" style="color:#fff">
  <h2 style="color:#fff;">Editor</h2>
  <div class="row">
      <div class="col-md-8">
        <p>ZET enthält einen integrierten Editor mit dem Evakuierungsszenarios modelliert werden können. Mit dem Editor ist es möglich, verschiedene Etagen, Räume auf den Etagen und spezielle Gebiete innerhalb der Räume zu erzeugen. Die Gebiete können dabei eine spezielle Semantik zugewiesen bekommen, wie z.&thinsp;B. sicherer Ort. Alle Räume und Gebiete werden von beliebigen geschlossenen Polynomen dargestellt.</p>
      </div>
      <div class="col-md-4">
    <img width="100%" src="image/content/ger/introduction_hauptbildschirm.png"/>
      </div>
</div>
<div class="row top-buffer">
      <div class="col-md-8">
        <p>Die zu Evakuierenden Personen können automatisch in sogenannte Belegungsgebiete verteilt werden. Die Personen können dabei in verschiedene Gruppen mit unterschiedlichen Eigenschaften aufgeteilt werden. Die Eigenschaften und Gruppen können mit dem Belegungseditor verändert werden. Jede Eigenschaft kann dabei mit einer Wahrscheinlichkeitsverteilung angepasst werden.</p>
      </div>
      <div class="col-md-4">
    <img width="100%" src="image/content/ger/introduction_belegungseditor.png"/>
      </div>
</div>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
  </div>


  <div class="jumbotron">
    <div class="container">
  <div class="col-md-12">
    <h2>Visualisierung</h2>
        <p>Sowohl die Simulation mit einem zellulären Automaten als auch der berechnete Netzwerkfluss können in 3D mittels OpenGL visualisiert werden. Die Kamera ist dabei mit den üblichen Maus- und Tastaturkommandos steuerbar. Innerhalb der Visualisierung sind verschiedene Informationen zugänglich, wie zum Beispiel die Ausnutzung bestimmter Gebiete. Die Visualisierung kann in perspektivischer Sichtweise oder in isometrischer und orthognaler Projektion dargestellt werden.</p>
  </div>
  
      <div class="col-md-4">
    <img width="100%" src="image/content/introduction_visualization_isom.png"/>
      </div>
      <div class="col-md-4">
    <img width="100%" src="image/content/introduction_visualization_orthogonal.png"/>
      </div>
      <div class="col-md-4">
    <img width="100%" src="image/content/introduction_visualization_perspective.png"/>
      </div>

  </div>
  </div>

  <div class="jumbotron highlight">
    <div class="container" style="color:#fff">
  <h2 style="color:#fff;">Get it!</h2>
  
  <p><a href="http://www.coga.tu-berlin.de/fileadmin/i26/download/AG_DiskAlg/FG_KombOptGraphAlg/kappmeier/ZET_PG_Current/zet-1.0.3a-update.rar"><span class="fa fa-download"></span> <span>ZET 1.0.3a</span> Suite für Java 6</a>. <span class="small">(md5: 73e7515d14a42ee9257ea6f8444d7be7)</span></p>
  
  <p>Andere Versionen, Signaturen und Quellcodes gibt es bei den <a href="downloads.html">Downloads</a>.</p>
   <!--<p>ZET ist in Java geschrieben und Die aktuelle Version 1.0.3 von ZET kann hier, zusammen mit Signaturdateien, heruntergeladen werden, ZET wird als kompiliertes Java(TM)-Paket verteilt und benötigt mindestens Java 6.0. Der Quellcode von ZET ist auf sourceforge verfügbar. Auf die aktuellste Version des Quellcodes kann direkt über das SVN-Repository zugegriffen werden.</p>

<p>Die Download-Datei wurde mit dem öffentlichen Schlüssel (ASC, 2,5 KB) von ZET signiert.</p>

<p>Die aktuelle Version des ZET-Pakets ist vom 06. 01. 2010. Der Download enthält das Programm inklusive einiger Beispieldateien.</p>-->
  
    </div>
  </div>
