<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                /* padding-bottom: 20px; */ /* edited */
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        
        <!-- Added new font for icons -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
	  <!-- each of the span creates a dash in the button -->
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
          <a class="navbar-brand" href="index.html">ZET</a>
          <a class="navbar-brand" href="downloads.html">Downloads</a>
          <a class="navbar-brand" href="icem.html">ICEM</a>
        </div>
        <!-- introduces elements that hide when becomes small -->
        <!--<div id="navbar" class="navbar-collapse collapse"> brings in a collapse field on small displays like cell phones
          <a class="navbar-brand" href="index.html">ZET</a>
          <a class="navbar-brand" href="downloads.html">Downloads</a>
          <a class="navbar-brand" href="#">ICEM</a>
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>--><!--/.navbar-collapse -->
      </div>
    </nav>

	<div class="content">
	
  {{> body }}
	
  </div>


      <!--<hr>-->

      <footer>
      <div class="container" style="">

	<div style="text-align:center">
          <ul class="icons">
					<li><a href="mailto:info@zet-evakuierung.de" class="icon fa fa-envelope"><span class="label">Email</span></a></li>
					<li><a href="#" class="icon fa fa-google-plus-square"><span class="label">Google+</span></a></li>
					<!--<li><a href="#" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li>-->
					<!--<li><a href="#" class="icon fa fa-facebook"><span class="label">Facebook</span></a></li>-->
					<!--<li><a href="#" class="icon fa fa-instagram"><span class="label">Instagram</span></a></li>-->
					<li><a href="https://github.com/zet-evacuation" class="icon fa fa-github"><span class="label">Github</span></a></li>
				</ul>
	</div>

	
	
				<div style="text-align:center;margin-top:30px;">
				&copy; ZET Development Team, 2014 | <a href="impressum.html">Impressum</a>
				</div>
      </div><!-- container -->
      </footer>

    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
